---
---

@import "{{ site.theme }}";

body, blockquote {
    color: black;
}

.inner {
  max-width: 960px;
}

#main_content {
    padding-top: 0;
}

a:visited {
    color: #a53366;
}

h1 a:visited, h2 a:visited {
    color: #007edf;
}

header a:hover, header a:focus, header a:active {
    text-decoration: none;
}

footer a:hover, footer a:focus, footer a:active {
    color: #007edf;
}

li ul {
    margin-bottom: 0;
}
