<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title }} : {{ site.description }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    <title>{{ site.title }}</title>
    <script>
        if ((window.location.host === 'viktor-roytman.gitlab.io') ||
	    (window.location.host === 'viktorroytman.com') ||
	    ((window.location.host !== '127.0.0.1:4000') && (window.location.protocol != 'https:'))) {
	  window.location.replace("{{ site.url }}");
	}
    </script>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
	  <a href="/"><h1 id="project_title">{{ site.title }}</h1></a>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
	<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	{% if page.date %}
	<p>{{ page.date | date_to_string }}</p>
	{% endif %}
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
	<p class="copyright">View this site's source on <a href="https://github.com/vr2262/viktor-roytman.gitlab.io">GitHub</a>. Built using the <a href="https://github.com/pages-themes/slate">Slate</a> theme.</p>
      </footer>
    </div>

  </body>
</html>
